<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_nba_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Bulls.Bulls"></activity>
        <activity android:name=".Lakers.Lakers" />
        <activity android:name=".Cavaliers.Cavaliers" />
        <activity android:name=".PlayersDetails" />
        <activity android:name=".Warriors.Warriors" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Main.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>