<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_nba_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presentation.view.Warriors" />
        <activity android:name=".presentation.view.Cavaliers" />
        <activity android:name=".presentation.view.Lakers" />
        <activity android:name=".presentation.view.Bulls"/>
        <activity android:name=".presentation.view.WarriorsDetails" />
        <activity android:name=".presentation.view.CavaliersDetails" />
        <activity android:name=".presentation.view.LakersDetails" />
        <activity android:name=".presentation.view.BullsDetails" />
        <activity android:name=".presentation.view.MainActivity" />
        <activity android:name=".presentation.view.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>